input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.help-block{
    font-size: 0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

label{
    font-family: sans-serif;
    color: rgb(126, 125, 125);
}